/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('student/templates/images/background.jpeg'); /* Replace 'background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensures the background covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background to improve readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding a shadow effect to the container */
}

/* Additional CSS styles for other elements in your template */
